
.input {
    width: 510px;
    height: 30px;
}

.backspace-btn {
    margin: 4px 25px;
    float: right;
    padding: 0px 10px;
    border-radius: 10%;
}

.backspace-btn:hover {
    background-color: rgb(172, 209, 241);
}

.backspace-btn:active {
    background-color: rgb(141, 192, 237);
    font-weight: bold;
}

.container {
    background-color: aliceblue;
    width: 540px;
    height: 360px;
}


.btn-container {
    background-color: rgb(141, 202, 255);
    width: 520px;    
    height: 270px;
    display: flex;
    border-radius: 10px;
}

.line {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 5px;
    flex-basis: 1 1;
}

.btn {
    background-color: aliceblue;
    color: black;
    padding: 10px;
    text-align: center;
    margin: 4px 10px;
    width: 100px;
    box-sizing: border-box;
    border-radius: 3%;
}

.btn:hover {
    background-color: rgb(192, 223, 251);
}

.btn:active {
    background-color: rgb(92, 175, 248);
    font-weight: bold;
}